.main-card-item{
    width: 368px;
    height: 357px;
    flex-shrink: 0;
    border-radius: 31px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #3C4BDC;
    transition: .5s;
}
.main-card-item:hover{
    background: #4C4EF5;
    color: #F1F1F1;
}
.main-card-item-img{
    border-top-left-radius: 31px;
    border-top-right-radius: 31px;
}
.main-card-item-h4{
    font-size: 24px;
    font-weight: 700;
    margin-left: 17px;
    margin-bottom: 13px;
    margin-top: 14px;
    text-decoration: none;
}
.main-card-item-text{
    font-size: 18px;
    font-weight: 700;
    margin-left: 17px;
    margin-top: 0;
    text-decoration: none;
}
.linkCard{
    text-decoration: none;
}